.btn {
  padding: 6px;
  color: #FFFFFF;
  font-weight: 600;
  cursor: pointer;
  border-radius: 24px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-transition: active 0.2s;
  transition: active 0.2s;
}
.btn {
  font-size: 13px;
}
@media (min-width: 400px) {
  .btn {
    font-size: calc( 13px + 7 * (100vw - 400px) / 600 );
  }
}
@media (min-width: 1000px) {
  .btn {
    font-size: 20px;
  }
}

.register {
  background-color: #a180e0;
  border: 2px solid #5127a0;
  overflow: hidden;
}
.register__text--hover {
  display: none;
}
.register:hover {
  background: #5127a0;
}
.register:hover .register__text {
  width: 200px;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-animation: text-scroll 8s linear infinite;
          animation: text-scroll 8s linear infinite;
}
@media screen and (min-width: 800px) {
  .register:hover .register__text {
    width: auto;
  }
}
.register:hover .register__text--hover {
  display: inline;
}

.login {
  background-color: transparent;
  border: 2px solid #FFFFFF;
}
.login:hover {
  background: #FFFFFF;
  color: #11978c;
}

@-webkit-keyframes text-scroll {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}

@keyframes text-scroll {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
}
.form__input {
  background-color: #11978c;
  border: 2px solid #11978c;
  border-radius: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 12px 0;
}
.form__input__tag {
  width: 40%;
  padding: 6px 12px;
  border: inherit;
  border-radius: inherit;
}
.form__input__tag--servicio {
  background-color: #11978c;
  border: 2px solid #11978c;
  border-radius: 24px;
  padding: 6px 12px;
  text-align: center;
  display: block;
}
.form__input__box {
  width: 60%;
  border: inherit;
  border-radius: inherit;
  padding: 6px 12px;
}
.form__input__servicios {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 12px;
  border: none;
}
.form__input__servicios__opt {
  width: 150px;
  height: 150px;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.form__input__servicios__opt svg {
  stroke: #a180e0;
  width: 60px;
  height: 60px;
}
.form__input__servicios__opt p {
  text-align: center;
}
.form__input__servicios__opt input {
  display: none;
}
.form__input__servicios__opt:hover {
  background-color: #474747;
  cursor: pointer;
  -webkit-box-shadow: 2.7px 2.7px 11.5px rgba(0, 0, 0, 0.041), 20px 20px 92px rgba(0, 0, 0, 0.07);
          box-shadow: 2.7px 2.7px 11.5px rgba(0, 0, 0, 0.041), 20px 20px 92px rgba(0, 0, 0, 0.07);
}

h1 {
  margin: 0;
}
h1 {
  font-size: 30px;
}
@media (min-width: 400px) {
  h1 {
    font-size: calc( 30px + 20 * (100vw - 400px) / 600 );
  }
}
@media (min-width: 1000px) {
  h1 {
    font-size: 50px;
  }
}

h2 {
  font-size: 25px;
}
@media (min-width: 400px) {
  h2 {
    font-size: calc( 25px + 10 * (100vw - 400px) / 600 );
  }
}
@media (min-width: 1000px) {
  h2 {
    font-size: 35px;
  }
}

h3 {
  font-size: 23px;
}
@media (min-width: 400px) {
  h3 {
    font-size: calc( 23px + 9 * (100vw - 400px) / 600 );
  }
}
@media (min-width: 1000px) {
  h3 {
    font-size: 32px;
  }
}

h4 {
  font-size: 20px;
}
@media (min-width: 400px) {
  h4 {
    font-size: calc( 20px + 10 * (100vw - 400px) / 600 );
  }
}
@media (min-width: 1000px) {
  h4 {
    font-size: 30px;
  }
}

h5 {
  font-size: 18px;
}
@media (min-width: 400px) {
  h5 {
    font-size: calc( 18px + 9 * (100vw - 400px) / 600 );
  }
}
@media (min-width: 1000px) {
  h5 {
    font-size: 27px;
  }
}

h6 {
  font-size: 16px;
}
@media (min-width: 400px) {
  h6 {
    font-size: calc( 16px + 9 * (100vw - 400px) / 600 );
  }
}
@media (min-width: 1000px) {
  h6 {
    font-size: 25px;
  }
}

p, label {
  font-size: 15px;
}
@media (min-width: 400px) {
  p, label {
    font-size: calc( 15px + 9 * (100vw - 400px) / 600 );
  }
}
@media (min-width: 1000px) {
  p, label {
    font-size: 24px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Sawarabi Mincho", serif;
  font-weight: 500;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif;
  color: #FFFFFF;
  background-color: #1B1A1A;
}

.topbar {
  height: 10vh;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(-26%, #11978c), color-stop(132%, #8cd9d2));
  background: linear-gradient(180deg, #11978c -26%, #8cd9d2 132%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.topbar__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px;
}
.topbar__logo svg {
  stroke: #FFFFFF;
}
.topbar__logo:link, .topbar__logo:visited, .topbar__logo:active {
  text-decoration: none;
  color: #FFFFFF;
}
.topbar__buttons {
  margin-right: 6px;
}
@media screen and (max-width: 500px) {
  .topbar__buttons__button {
    max-width: 150px;
    max-height: 32px;
  }
}
@media screen and (min-width: 500px) {
  .topbar__buttons__button {
    padding: 6px;
  }
}
@media screen and (min-width: 800px) {
  .topbar__buttons__button {
    margin: 6px;
  }
}
@media screen and (min-width: 500px) {
  .topbar__buttons {
    margin: 6px;
  }
}
@media screen and (min-width: 800px) {
  .topbar__buttons {
    margin: 12px;
  }
}

.landing--Header {
  height: 25vh;
  background-image: url("/media/landing-header-image.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.landing--Header__title {
  height: 1.7em;
  overflow: hidden;
  padding: 12px;
}
.landing--Header__title__list {
  list-style: none;
  margin: 0;
  padding: 0;
  -webkit-animation: change 10s ease-out infinite;
          animation: change 10s ease-out infinite;
  -webkit-transform: translateY(-7%);
          transform: translateY(-7%);
}
.landing--Header__title__list__option {
  margin: 6px 0;
}
@-webkit-keyframes change {
  25%, 40%, 75%, 90% {
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
  50%, 65% {
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
  }
  15%, 100% {
    -webkit-transform: translateY(-7%);
            transform: translateY(-7%);
  }
}
@keyframes change {
  25%, 40%, 75%, 90% {
    -webkit-transform: translateY(-40%);
            transform: translateY(-40%);
  }
  50%, 65% {
    -webkit-transform: translateY(-75%);
            transform: translateY(-75%);
  }
  15%, 100% {
    -webkit-transform: translateY(-7%);
            transform: translateY(-7%);
  }
}
@media screen and (min-width: 500px) {
  .landing--Header {
    height: 50vh;
  }
}

.landing--search {
  padding: 12px;
  max-width: 700px;
  margin: 0 auto;
}