// -------------$LANDING PAGE HEADER

.landing__Header {
    height: 40vh;
    background-image: url("dist/media/landing-header-image.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        overflow: hidden;
        margin: 0 auto;
        padding: auto space("6");
        height: 1.7em;

        @include tablet-portrait-dimensions {
            margin-left: 15vw;
        }

        &__list {
            list-style: none;
            padding: 0;
            animation: change 10s ease-out infinite;
            transform: translateY(-20%);
    
            &__option {
                margin: space("12") 0;
                @include tablet-landscape-dimensions{
                    margin: space("18") 0;
                }
            }
        }

        @keyframes change {
            25%, 47%, 75%, 97% {
               transform: translateY(-55%); 
            }
            50%, 72% {
                transform: translateY(-93%); 
            }
            22%, 100% {
                    transform: translateY(-20%); 
            }
        }
    }

    @include tablet-portrait-dimensions {
        height: 50vh;
    }
}