.landing__branding {
    @include sectionLayout(1000px);

    &__title {

        @include tablet-landscape-dimensions {
            text-align: right;
            padding-right: space("60");
        }
    }

    &__list {
        list-style: none;

        display: flex;
        flex-direction: column;
        justify-content: center;

        &__perk {
            display: flex;
            justify-content: space-evenly;
            align-items: center;

            &__info {
                width: 70%;
                padding: space("6");
            }
        }
    }
}