// -------------$TOPBAR

.topbar {
    width: 100vw;
    height: 10vh;
    background: linear-gradient(180deg , $color-main -26%, $color-main-tone-2 132%);
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__logo {
        display: flex;
        align-items: center;

        & svg {
            stroke: $color-white;
        }

        &:link, &:visited, &:active {
            text-decoration: none;
            color: $color-white;
        }
    }

    &__buttons {
        margin-right: space("6");

        &__button {

            @include tablet-portrait-dimensions {
                padding: space("6");
            }

            @include tablet-landscape-dimensions {
                margin: space("6");
            }
        }

        @include tablet-portrait-dimensions {
            margin: space("6");
        }
    
        @include tablet-landscape-dimensions {
            margin: space("12");
        }
    }
}