.dashboard {
    @include sectionLayout(1200px);

    &__container {
        display: flex;
        flex-wrap: wrap;

        &__section {
            padding: space("18");
            border: 1px solid white;
            border-radius: space("6");
            margin: space("6");
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}

.wallet, .reports, .bookings {

    flex-basis: 100%;
    @include tablet-landscape-dimensions {
        flex-basis: 32%;
    }
}

.messages, .profiles {
    flex-basis: 100%;
    @include tablet-landscape-dimensions {
        flex-basis: 48.6%;
    }
}

.wallet {
    &__money {
        padding: space("6") 0;
    }

    &__action {
        align-self: flex-end;
        cursor: pointer;
        color: $color-main;
    }
}

.reports {
    &__report {
        margin: space("12") 0;
        padding: space("6") 0;

        &__state {
            display: inline;
            border-radius: space("6");
            padding: space("6");
        }
    
        .inProgress {
            background-color: $color-sec;
        }
    
        &__contractor {
            display: inline;
            padding: space("6");
        }

        &__period {
            padding: space("6") 0;
        }
    
        &__action {
            display: grid;
            text-align: right;
            cursor: pointer;
            color: $color-main;
        }
    }

    &__more {
        color: $color-white;
        font-weight: 600;
        padding: space("6");
        margin: space("6");
        border-radius: space("6");
        border-color: $color-main;
        background-color: $color-main;
        width: fit-content;
        cursor: pointer;
        align-self: flex-end;
    }
}

.bookings {
    &__booking {
        margin: space("12") 0;
        padding: space("6") 0;

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__contractor {
                display: inline;
            }
    
            &__state {
                display: inline;
                border-radius: space("6");
                padding: space("6");
                background-color: $color-sec;
            }
        }

        &__init {
            color: $color-grey-light;
        }
    }

    &__more {
        color: $color-white;
        font-weight: 600;
        padding: space("6");
        margin: space("6");
        border-radius: space("6");
        border-color: $color-main;
        background-color: $color-main;
        width: fit-content;
        cursor: pointer;
        align-self: flex-end;
    }
}