.dashboard {
    @include sectionLayout(1200px);

    &__container {
        display: flex;
        flex-wrap: wrap;

        &__section {
            padding: space("18");
            border-radius: space("6");
            margin: space("6");
            background-color: rgba(255, 255, 255, 0.068);
            @include boxShadow();
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}

.messages, .reports, .bookings {
    flex-basis: 100%;

    @include tablet-landscape-dimensions {
        flex-basis: 32%;
    }

    &__more {
        color: $color-white;
        font-weight: 600;
        padding: space("6");
        border-radius: space("6");
        border-color: $color-main;
        background-color: $color-main;
        width: fit-content;
        cursor: pointer;
        align-self: flex-end;
    }
}

.wallet, .profiles {
    flex-basis: 100%;
    @include tablet-landscape-dimensions {
        flex-basis: 48.6%;
    }
}

.wallet {
    &__money {
        padding: space("6");
        @include font-size(15px, 25px);
    }

    &__action {
        align-self: flex-end;
        cursor: pointer;
        color: $color-main-tone-2;
    }
}

.reports {
    &__report {
        padding: space("12");

        &__state {
            display: inline;
            border-radius: space("6");
            padding: space("6");
            background-color: $color-sec;
        }
    
        &__contractor {
            display: inline;
            padding: space("6");
        }

        &__period {
            padding: space("6") 0;
        }
    
        &__action {
            display: grid;
            text-align: right;
            cursor: pointer;
            color: $color-main-tone-2;
        }

        &:hover {
            background-color: $color-grey-dark;
            border-radius: space("6");
        }
    }
}

.bookings {
    &__booking {
        padding: space("12");

        &__header {
            display: flex;
            justify-content: space-between;
            align-items: center;
    
            &__state {
                border-radius: space("6");
                padding: space("6");
                background-color: $color-sec;
            }
        }

        &__init {
            color: $color-grey-light;
        }

        &:hover {
            background-color: $color-grey-dark;
            border-radius: space("6");
        }
    }
}

.profiles {
    &__options {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

        &__profile {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            text-decoration: none;
            color: $color-white;
            margin: space("6");
            padding: space("6");
        }
    }
}

.messages {
    &__message {
        display: flex;
        flex-direction: column;
        padding: space("12");

        &__header {
            display: flex;
            align-items: center;
            
            &__contractor {
                margin-right: space("12");
            }
    
            &__alert {
                @include widthAndHeight(24px, 24px);
                text-align: center;
                font-size: 19px;
                border-radius: space("12");
                background-color: $color-sec;
            }
        }

        &__action {
            align-self: flex-end;
            color: $color-main-tone-2;
        }

        &:hover {
            background-color: $color-grey-dark;
            border-radius: space("6");
        }
    }
}