.dashboard {
    @include sectionLayout(900px);

    &__container {
        display: flex;
        flex-wrap: wrap;

        &__section{
            @include widthAndHeight(400px, 400px);
            padding: space("6");
            margin: space("6");
            border: 1px solid white;
            border-radius: space("6");
        }
    }
}