extends template.pug

block page-content 
    header.landing__Header 
        h1.landing__Header__title Encuentra un cuidador ya!
        h1.landing__Header__title 
            ul.landing__Header__title__list 
                li.landing__Header__title__list__option de confianza! 
                li.landing__Header__title__list__option responsable!
                li.landing__Header__title__list__option apasionado! 
            h1.landing__Header__title para tu mascota.

    include search-filter-component.pug 

    //- Sección de servicios
    section.landing__servicios
        h2.landing__servicios__title Servicios 
        div.landing__servicios__container
            ul.landing__servicios__list 
                li.landing__servicios__list__servicio
                    include svg/icon-walk.pug
                    p.landing__servicios__list__servicio__info El cuidador sacará a su perro de paseo por su zona.
                li.landing__servicios__list__servicio
                    include svg/icon-visit.pug
                    p.landing__servicios__list__servicio__info El cuidador irá a su domicilio para alimentar y pasar tiempo con su mascota.
                li.landing__servicios__list__servicio
                    include svg/icon-nursery.pug
                    p.landing__servicios__list__servicio__info El cuidador aloja a su perro los días en los que necesites que alguien se haga cargo de su mascota.
                li.landing__servicios__list__servicio
                    include svg/icon-night.pug
                    p.landing__servicios__list__servicio__info Su perro pasará la noche en casa de su cuidador para los periodos que esté fuera de casa.
            img.landing__servicios__img(src='/src/media/img-servicios.webp' alt='imagen-seccion-servicios')
    

    //- Sección de branding
    section.landing__branding
        h2.landing__branding__title Por qué GoDog 
        div.landing__branding__container
            img.landing__branding__img(src='/src/media/landing-branding.webp' alt='imagen-seccion-branding')
            ul.landing__branding__list 
                li.landing__branding__list__perk
                    include svg/icon-tick.pug                
                    p.landing__branding__list__perk__info Atención y cuidado personalizado.
                li.landing__branding__list__perk
                    include svg/icon-tick.pug                
                    p.landing__branding__list__perk__info Cuidadores amantes de los animales comprometidos.
                li.landing__branding__list__perk
                    include svg/icon-tick.pug                
                    p.landing__branding__list__perk__info Reserva online.
                li.landing__branding__list__perk
                    include svg/icon-tick.pug                
                    p.landing__branding__list__perk__info Pago seguro.
                li.landing__branding__list__perk
                    include svg/icon-tick.pug                
                    p.landing__branding__list__perk__info Opciones de seguimiento.
                li.landing__branding__list__perk
                    include svg/icon-tick.pug                
                    p.landing__branding__list__perk__info Perfiles revisados y validados.
                li.landing__branding__list__perk
                    include svg/icon-tick.pug                
                    p.landing__branding__list__perk__info Mascotas aseguradas.
                li.landing__branding__list__perk
                    include svg/icon-tick.pug                
                    p.landing__branding__list__perk__info Protección de datos.

    //- CTA final de landing page
    button.btn--big.register
        div.register__text Hazte cuidador 
            span.register__text--hover - Regístrate