.modal 
    button.modal__btn--close.login__close
        svg.x 
    h3.modal__title Inicia sesión con tu cuenta
    input.modal__input(type="text" placeholder="Email")
    input.modal__input(type="text" placeholder="Contraseña")
    button.modal__input__submit Iniciar sesión