svg(viewbox='0 0 48 48', width='48', heigth='48', fill='none', xmlns='http://www.w3.org/2000/svg')
    rect(width='48', heigth='48', fill='white')
    path(fill-rule='evenodd', clip-rule='evenodd', d='M39.5556 41.6H8.44444V17.4H39.5556V41.6ZM32.8889 2V6.4H15.1111V2H10.6667V6.4H8.44444C5.97778 6.4 4 8.358 4 10.8V41.6C4 42.767 4.46825 43.8861 5.30175 44.7113C6.13524 45.5364 7.2657 46 8.44444 46H39.5556C40.7343 46 41.8648 45.5364 42.6983 44.7113C43.5317 43.8861 44 42.767 44 41.6V10.8C44 8.358 42 6.4 39.5556 6.4H37.3333V2')