// ------------$HELPERS

// titles padding helper
h2[class$="title"] {
    padding: 0 space("12");
    margin: space("18") space("30");
}

// landing section img
img[class$="__img"] {
    display: none;

    @include tablet-landscape-dimensions {
        display: block;
    }
}

// landing sections container
div[class$="__container"] {
    display: flex;
    flex-direction: row;
}