// -------------$LANDING PAGE HEADER

.landing--Header {
    width: 100vw;
    height: 20vh;
    background: url(/media/landing-header-image.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        height: 1.7em;
        overflow: hidden;
        padding: space("12");

        &__list {
            list-style: none;
            margin: 0;
            animation: change 10s ease-out infinite;
            transform: translateY(-7%);
    
            &__option {
                margin: space("6");
            }
        }

        @keyframes change {
            25%, 40%, 75%, 90% {
               transform: translateY(-40%); 
            }
            50%, 65% {
                transform: translateY(-75%); 
            }
            15%, 100% {
                    transform: translateY(-7%); 
            }
        }
    }

    @include tablet-portrait-dimensions {
        height: 40vh;
    }
}