.landing__servicios {
    @include landingSectionLayout (1000px);

    &__list {
        list-style: none;
        margin-left: space("12");

        &__servicio {
            display: flex;
            align-items: center;
            margin: space("18") auto;
            gap: space("6");

            @include tablet-landscape-dimensions {
                gap: space("36");
            }

            &__info {
                padding: space("12");
                width: 70%;
            }
        }
    }
}