// -------------$LANDING PAGE HEADER

.landing__Header {
    height: 25vh;
    background-image: url("/media/landing-header-image.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        height: 1.7em;
        overflow: hidden;
        padding: space("12");
        margin: 0;

        @include tablet-landscape-dimensions {
            margin-left: 15vw;
        }

        &__list {
            list-style: none;
            margin: 0;
            padding: 0;
            animation: change 10s ease-out infinite;
            transform: translateY(-7%);
    
            &__option {
                margin: space("6") 0;
            }
        }

        @keyframes change {
            25%, 40%, 75%, 90% {
               transform: translateY(-40%); 
            }
            50%, 65% {
                transform: translateY(-75%); 
            }
            15%, 100% {
                    transform: translateY(-7%); 
            }
        }
    }

    @include tablet-portrait-dimensions {
        height: 50vh;
    }
}