doctype html
html(lang='es')
head
	meta(charset='utf-8')
	meta(http-equiv='x-ua-compatible', content='ie=edge')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	title GoDog - Search
	link(rel='preconnect' href='https://fonts.googleapis.com')
	link(rel='preconnect' href='https://fonts.gstatic.com', crossorigin)
	link(rel='stylesheet', href='https://fonts.googleapis.com/css2?family=Karla:wght@400;600;700&family=Sawarabi+Mincho&display=swap')
	link(rel="stylesheet", href="../../css/style.css")
body

	//- Topbar
	nav.topbar
		a.topbar__logo(href="/html/pug/search.html")
			svg 
			h1.topbar__logo__title GoDog
		section.topbar__buttons
			button.topbar__buttons__button.btn.login Log in 
			button.topbar__buttons__button.btn.register 
				div.register__text Hazte cuidador 
					span.register__text--hover - Regístrate
		

	block page-content 

	//- Footer
	footer.footer
		ul.footer__list
			li.footer__list__opt Seguridad
			li.footer__list__opt Garantía
		ul.footer__list
			li.footer__list__opt Política de privacidad
			li.footer__list__opt Política de cookies 
			li.footer__list__opt Términos y condiciones
		ul.footer__list
			li.footer__list__opt Contacta
			li.footer__list__opt Twitter 
			li.footer__list__opt Instagram