button {
    padding: space("space-6");
    @include font-size(13px, 20px);
    color: $color-white;
    font-weight: 600;
    cursor: pointer;
    border-radius: space("space-6");
    box-shadow: 3px 3px 3px $color-grey-dark;
    transform: translate(-2px, -2px);
    transition: all .5s ease-in-out;

    &:hover {
        box-shadow: 1px 1px 1px $color-grey-dark;
        transform: translate(0, 0);
    }

    @include tablet-portrait-dimensions {
        padding: space("space-6");
        margin: space("space-6");
    }

    @include tablet-landscape-dimensions {
        margin: space("space-12");
    }
}

.register {
    border: 2px solid $color-sec-tone-2;
    background-color: $color-sec;

    &:hover {
        background-color: $color-main-tone-2;
        background-color: $color-sec-tone-2;
    }
}

.login {
    border: 2px solid $color-main-tone-2;
    background-color: transparent;

    &:hover {
        background-color: $color-main-tone-2;
    }
}