input[class^="form__input"], [class^="form__input__tag"]{
    @include inputStyle;
    font-weight: 600;
}

.form__input {
    display: flex;
    margin: space("12") 0;
    @include inputStyle;
    background-color: $color-main;

    &__tag {
        width: 30%;
        padding: space("6") space("12");
        background-color: inherit;

        &--servicio {
            background-color: $color-main;
            border: 2px solid $color-main;
            border-radius: space("24");
            padding: space("6") space("12");
            width: 100%;
            margin: 0 auto;
            text-align: center;
            display: block;
        }
    }

    &__box {
        width: 70%;
        padding: space("6") space("12");
    }

    &__servicios {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: space("12");
        border: none;

        &__opt {
            width: 140px;
            height: 140px;
            cursor: pointer;
            border-radius: space("6");

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            p {
                text-align: center;
            }

            &:hover {
                background-color: $color-grey-dark;
                box-shadow:
                2.7px 2.7px 11.4px rgba(0, 0, 0, 0.041),
                20px 20px 92px rgba(0, 0, 0, 0.07);
            }

            @include tablet-portrait-dimensions {
                width: 190px;
                height: 190px;
                padding: space("12");
            }
        }

        input[id^="checkbox--"] {
            display: none;

            @for $i from 1 through 4 {
                &:nth-of-type(#{$i}):checked {
                    & ~ label:nth-of-type(#{$i}) {
                        background-color: $color-grey-dark;
                        @include boxShadow();
                    }
                }
            }
        }
    }

    &__submit {
        padding: space("12"); 
        margin: 10vh auto;
        position: relative;
        left: 50%;
        transform: translateX(-50%); 
        cursor: pointer;
        border-radius: space("36");
        border: 2px solid $color-main;
        background-color: $color-main;
        color: $color-white;
        font-weight: 700;

        @include font-size(20px, 30px);

        @include width(140px, 300px);

        @include tablet-landscape-dimensions {
            border-radius: space("42");
        }

        &:hover {
            background-color: color-sec;
            border: 2px solid color-sec;
        }
    }
}