svg {
    stroke: $color-main;
    width: 60px;
    height: 60px;

    @include tablet-landscape-dimensions {
        width: 100px;
        height: 100px;
    }
}

.tick {
    fill: $color-main;
    width: 30px;
    height: 30px;
}