// --------$COLOR VARIABLES

$color-main: hsl(175, 80%, 33);
$color-main-tone-2: hsl(175, 50%, 70%);

$color-sec: hsl(261, 61%, 69%);
$color-sec-tone-2: hsl(261, 61%, 39%);

$color-white: #FFFFFF;
$color-grey-light: #7E7E7E;
$color-grey-dark: #474747;
$color-black: #1B1A1A;